:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(47, 106, 127);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-content {
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 3rem;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.home .home-content .text-div {
  padding: 2rem 0;
}
.home .home-content .text-div .small-text {
  width: 100%;
  font-size: 0.8rem;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
}
.home .home-content .text-div .home-title {
  position: relative;
  font-size: 1.8rem;
}
.home .home-content .card-div {
  position: relative;
  padding: 2rem;
  background-color: var(--whiteColor);
  border-radius: 10px;
  gap: 1rem;
}
.home .home-content .card-div label {
  display: block;
  color: var(--textColor);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.home .home-content .card-div .label-total {
  justify-content: space-between;
  align-items: center;
}
.home .home-content .card-div .label-total .total {
  color: var(--textColor);
}
.home .home-content .card-div .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--inputColor);
  border-radius: 3rem;
}
.home .home-content .card-div .input input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 500;
}
.home .home-content .card-div .input input::-moz-placeholder {
  font-size: 13px;
}
.home .home-content .card-div .input input::placeholder {
  font-size: 13px;
}
.home .home-content .card-div .input .range {
  all: unset;
  width: 100%;
  outline: none;
  background: var(--whiteColor);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px -10px, rgba(0, 0, 0, 0.22) 0px 5px 12px;
  border-radius: 15px;
  overflow: hidden;
}
.home .home-content .card-div .input .range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--whiteColor);
  border: 2px solid var(--SecondaryColor);
  border-radius: 50%;
  box-shadow: -40.5rem 0 0 40rem var(--SecondaryColor);
}
.home .home-content .card-div .input .icon {
  font-size: 18px;
  color: var(--PrimaryColor) !important;
  margin-left: 10px;
}
.home .home-content .card-div .input .input[type=range] {
  background: blue;
}
.home .home-content .card-div .search-option {
  position: absolute;
  background: var(--gradientColor);
  padding: 5px 1rem;
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.home .home-content .card-div .search-option:hover {
  background: var(--PrimaryColor);
}
.home .home-content .card-div .search-option .icon {
  font-size: 18px;
}
.home .home-content .card-div .search-option span {
  font-size: 13px;
}
.home .home-content .home-footer-icons {
  width: 100%;
  justify-content: space-between;
}
.home .home-content .home-footer-icons .icon {
  font-size: 20px;
  margin: 0 5px;
  color: var(--whiteColor);
  font-weight: 600;
}
.home .home-content .home-footer-icons .icon:hover {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 500px) {
  .card-div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 640px) {
  .card-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 348px) {
  .home .home-content .text-div {
    padding: 1rem 0 0;
  }
}
@media screen and (max-width: 760px) {
  .home .home-content .small-text, .home .home-content .home-title {
    text-align: center;
  }
}/*# sourceMappingURL=Home.css.map */